

    <div>




        <h1>Administrativo</h1>



            <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/dashboard/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

        <hr class="sidebar-divider my-0">

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="/admin/categories/">
                <i class="fas fa-users"></i>

                <span>Categorias</span></a>
        </li>
    
    <hr class="sidebar-divider my-0">

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiNDliZWZlODctMDNiZC00MDQzLTk5ZTgtYzQ0ZGFlMzRiMGVmIiwidCI6ImU2Y2RlMmY2LTIwNmUtNGM0ZS1iYzUyLTVjMDcwOGJkYTcxMiJ9&pageName=ReportSection073dd7c8c5f9cf53fa48&ltclid=ecab8253-d707-4fd7-8fa6-1841db073d6f">

                <span>Painel CUB</span></a>
        </li>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <li class="nav-item active">
                    <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiMGM4MzFhNDEtMGM3Yy00ODBmLTg2NjEtZTExYzc1Mjk1NGE1IiwidCI6ImU2Y2RlMmY2LTIwNmUtNGM0ZS1iYzUyLTVjMDcwOGJkYTcxMiJ9&pageName=ReportSectiona1920879b8bbcb2dd9e0&ltclid=50cf0924-08db-4f7e-8d44-66afd0f2797c">
        
                        <span>Polo Gerador de Viagens</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <li class="nav-item active">
                    <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1OZR4B_Ta7Khrhi4QTwWU9O2Li9r_9EYakxIANBdQS9A/edit?usp=sharing">
        
                        <span>Planilha Requerente</span></a>
                </li>

   
    
    <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <li class="nav-item active">
                    <a class="nav-link" href="https://docs.google.com/document/d/1HKzUygksXMPflsbzeoIkdmbVHA5t0bUvf8-c-iPjLr8/edit?usp=sharing">
        
                        <span>Requisitos do Painel</span></a>
                </li>


    </div>