<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="author" content="Computei Consultoria TI">
    <% if(typeof title !== 'undefined'){ %>
        <title><%= title %></title>
    <% }else{ %>
        <title>Computei</title>
    <% } %>

    <link href="/css/app.css" rel="stylesheet">
    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="rgb(78,115,223)">
    <meta name="twitter:description" content="Gerente Virtual para seu escritório.">
    <meta name="twitter:image" content="images/logo.png">
    <meta name="description" content="Gerente Virtual para seu escritório.">
    <meta property="og:image" content="img/logo.png">
    <meta name="twitter:title" content="GeriADV">
    <link rel="icon" type="image/png" sizes="500x500" href="/img/logo.png">
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BLHZ5RTP9Z"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-BLHZ5RTP9Z');
</script>
<body id="page-top">
<script type="text/javascript">
    window.addEventListener('keydown', function (e) {
        if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
            if (e.target.nodeName == 'INPUT' && e.target.type == 'text' || e.target.nodeName == 'INPUT' && e.target.type == 'number') {
                e.preventDefault();
                return false;
            }
        }
    }, true);
</script>
