<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/processos">
        <div class="sidebar-brand-icon">
            <i class="fas fa-desktop"></i>
        </div>
        <div class="sidebar-brand-text mx-3">COMPUTEI</div>
    </a>

    <!-- Divider -->


    <!-- Divider -->
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/processos">
            <i class="fas fa-search-plus"></i>
            <span>Início Cadastros</span></a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item">
        <a class="nav-link" href="/admin/processos/new">
            <i class="fas fa-fw fa-plus-square"></i>
            <span>Novo Cadastro</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="https://wa.me/5521997811982" target="_blank">
            <i class="fab fa-whatsapp"></i>
            <span>Fale conosco</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="https://meu.inss.gov.br" target="_blank">
            <i class="fas fa-map-marker-alt"></i>
            <span>Meu INSS</span></a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="https://buscacepinter.correios.com.br/app/endereco/index.php" target="_blank">
            <i class="fas fa-id-card"></i>
            <span>Correios - CEP</span></a>
    </li>

    <% if(role != 'user'){ %>
        <li class="nav-item">
            <a class="nav-link" href="/admin/log" target="_parent">
                <i class="fas fa-newspaper"></i>
                <span>Logs</span></a>
        </li>
    <% } %>

    <% if(role != 'user'){ %>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users" target="_parent">
                <i class="fas fa-user"></i>
                <span>Usuários</span></a>
        </li>
    <% } %>

    <hr class="sidebar-divider">

    <li class="nav-item">
        <a class="nav-link" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
            <span>Sair</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->