
            <!-- Topbar -->
            
            <nav style="background-color: #004a80" class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/processos">
        <div class="sidebar-brand-icon">
            
            <img src="/img/logo-cet-pq.png" style="height:40px;">
        </div>
        
    </a>

  
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">




                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/dashboard/" title="Dashboard Administrativo">
                           <h5> <i class="fas fa-fw fa-tachometer-alt"></i></h5>
                            </a>
                    </li>
                    

                    <li class="nav-item">
                        <a class="nav-link" href="/admin/processos" role="button"
                        aria-haspopup="true" aria-expanded="false" title="Localizar Processos">
                        <h4><i class="fas fa-search fa-fw"></i></h4>
                    </a>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/processos/new" role="button"
                        aria-haspopup="true" aria-expanded="false" title="Cadastrar Novo Processo">
                        <i class="fas fa-plus fa-fw"></i>
                        
                    </a>
                    

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://wa.me/5521997811982" role="button"
                        aria-haspopup="true" aria-expanded="false" title="Fale Conosco">
                        <i class="fas fa-send fa-fw"></i>
                        
                    </a>
                    

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" role="button"
                        aria-haspopup="true" aria-expanded="false" title="Sair do Sistema">
                        <i class="fas fa-sign-out-alt"></i>
                        
                    </a>
                    

                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->