body{
    background-color: #eceff1;
}

#formulario-pergunta{
    margin-top: 5vh;
}


            
tr {transition:all .25s ease-in-out
    
}
tr:hover{background-color:#4e73df;cursor: pointer}
td:hover{color:black;cursor: pointer}

